_build/
.opam/
*.vo
*.glob
*.aux
*.vok
*.vdd
*.vos
.cmx
*.o
*.tar.gz
*.cmi
*.cmx
*.cma
*.cmxa
_manual_build/
.DS_Store
**/.DS_Store
latex-perfectionist.opam.locked

# Local static libs and SIMD artifacts
core/l0_lexer/simd/*.a
core/l0_lexer/simd/*.o
core/l0_lexer/simd/simd_lexer_test
core/l0_lexer/simd/test_simd

# Test executables
test/**/*
!test/**/*.ml
!test/**/*.mli
!test/**/*.sh
!test/**/README.md

# Build artifacts in root (should not be there)
/*.o
/test_*
/debug_*
/standalone_*
/*_test
/*_debug

target/
public-badges/
*.csv
